.singleprofilepage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.singleprofilepage .container {
  width: 700px;
}
.singleprofilepage .comment {
  width: 100%;
}